name: Build

on:
  push:
    branches:
    - master
    - '*.*'

  pull_request:
    branches: 
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [11, 13]
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Gradle cache
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: gradle-cache-${{ matrix.java }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/*.kt*') }}
        restore-keys: |
          gradle-cache-${{ matrix.java }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}

    - name: Run gradle check
      run: ./gradlew check --no-daemon
