name: Build

on:
  push:
    branches:
    - master
    - '*.*'

  pull_request:
    branches: 
    - master

jobs:
  build:

    strategy:
      matrix:
        java: [8, 11, 13]
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}

    timeout-minutes: 30
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Gradle cache
      uses: actions/cache@v1
      with:
        path: ~/.gradle
        key: gradle-cache-${{ matrix.os }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/*.kt*') }}
        restore-keys: |
          gradle-cache-${{ matrix.os }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}

    - name: Run gradle check
      run: ./gradlew check --no-daemon
